* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background-color: #1d1d1d;
  font-family: Arimo, Arial, Helvetica, lucida grande, sans-serif;
}

a {
  text-decoration: none;
}

/* NAVBAR STYLING STARTS ===================================== */
header.navbar {
  background-color: #171717;
  height: 60px;
}

header .nav-container {
  display: flex;
  justify-content: space-between;
}

header .nav-container .left-nav {
  display: flex;
}

header .nav-container .left-nav .nav-form {
  margin: 10px 0;
}

header .nav-container .left-nav .nav-search {
  height: 40px;
  width: 250px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #333;
}

header .nav-container .left-nav .nav-search::placeholder {
  color: grey;
  padding-left: 10px;
}

header .nav-container .left-nav ul {
  list-style: none;
  margin: 20px 40px;
  padding-left: 0;
}

header .nav-container .left-nav ul li {
  padding-right: 10px;
}

header .nav-container .left-nav ul li a {
  color: grey;
}

/* NAVBAR SYLING ENDS ================================= */


/* --------------------------------------------------------------------------------------------------- */


/* HOMEPAGE BODY STYLING STARTS ========================= */
/* WELCOME HEAD MESSAGE STARTS =========================*/
.head.welcome-info {
  text-align: center;
  margin-top: 40px;
}

.head h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.head .download-info {
  font-size: 14px;
  color: #ccc;
  margin: 0 auto;
  line-height: 21px;
}

.head .download-info a {
  font-weight: 700;
}

.head a {
  color: #428bca;
}

.head a:hover {
  color: #428bcab7;
}

.head .links {
  margin-top: 10px;
}

/* WELCOME HEAD MESSAGE ENDS ==========================*/


/* -------------------------------------------------------------------------------------------------- */


/* MOVIE LISTING STARTS ==============================*/
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-listing .movie-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1400px;
}

.movie-listing figure {
  width: 220px;
  padding-bottom: 0;
}

.movie-listing img {
  margin: 0 auto;
  width: 220px;
  height: 315px;
  border: 5px #fff solid;
  border-radius: 5px;
}

.movie-listing img:hover {
  border: 5px #6ac045 solid;
}

.movie-listing figcaption a {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  line-height: 2;
}

.movie-listing figcaption a:hover {
  color: grey;
}

.movie-listing figcaption .movie-year {
  font-size: small;
  color: grey;
  line-height: 0.5;
}

/* MOVIE LISTING ENDS =================================*/


/* -------------------------------------------------------------------------------------------------- */


/* MOVIE DETAILS STARTS ===============================*/
.details-section {
  margin: 20px 20px;
}

.details-section .movie-row,
.trailer-section .trailer-row,
.summary-section .movie-summary,
.comments-section .movie-reviews {
  display: flex;
}

.details-section .similar-movies {
  margin-left: 480px;
  text-align: center;
}

.details-section .similar-movies h1 {
  margin-bottom: 10px;
}

.details-section .similar-movies-box {
  width: 220px;
  height: 300px;
  /* border: 1px solid white; */
}

.details-section .similar-movies-box div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 15px;

}

.details-section .similar-movies-box img {
  width: 100%;
  max-width: 250px;
  height: 130px;
  object-fit: cover;
  margin-bottom: 10px;
}


.trailer-section {
  margin: 20px 20px;
}


.summary-section {
  margin: 20px 20px;
  width: 100%;
}

.summary-section .movie-summary .plot-summary {
  width: 55%;
  margin-right: 5%;
  padding: 20px;

}

.summary-section .movie-summary .movie-artists {
  width: 35%;
  padding: 20px;
}

.summary-section .movie-summary .movie-artists .director .content,
.summary-section .movie-summary .movie-artists .top-cast .content {
  display: flex;
}

.summary-section .movie-summary .movie-artists img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
}


.comments-section {
  margin: 20px 20px;
  width: 100%;
}

/* MOVIE DETAILS ENDS =================================*/

/* HOMEPAGE BODY STYLING ENDS ========================= */



/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* -------------------------------------------------------------------------------------------------- */


/* FOOTER STARTS =========================== */

/* FOOTER ENDS =========================== */