* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background-color: #1d1d1d;
  font-family: Arimo, Arial, Helvetica, lucida grande, sans-serif;
}

/* p,
h1,
h2,
h3,
h4,
h5,
h5 {
    margin: 0;
    padding: 0;
} */

a {
  text-decoration: none;
}

/* NAVBAR STYLING STARTS ===================================== */
header.navbar {
  background-color: #171717;
  height: 70px;
}

header .nav-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

header .nav-container .logo {
  height: 40px;
  padding: 15px 0;
}

header .nav-container .right-nav {
  display: flex;
  padding: 15px 0;
}

header .nav-container .search-link {
  margin: 11px 10px 0 0;
  color: grey;
  font-size: 15px;
}

header .nav-container .right-nav .nav-search {
  height: 40px;
  width: 250px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #333;
  color: white;
  padding-left: 10px;
}

header .nav-container .right-nav .nav-search::placeholder {
  color: grey;
}


ul.suggestions {
  list-style: none;
  margin: 43px 0 0 0;
  padding: 0;
  position: absolute;
  width: 250px;
  border: none;
  background-color: #171717;
  max-height: 200px;
  /* Optional: Limit height */
  /* overflow-y: auto; */
  z-index: 1;
  display: none;
  /* Hidden by default */
}

ul.suggestions a {
  text-decoration: none;
  color: #fff;
}

ul.suggestions li {
  padding: 8px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

ul.suggestions li:hover {
  box-shadow: 1px 1px 3px green;
}


/* NAVBAR SYLING ENDS ================================= */


/* --------------------------------------------------------------------------------------------------- */


/* HOMEPAGE BODY STYLING STARTS ========================= */
/* WELCOME HEAD MESSAGE STARTS =========================*/
.head.welcome-info {
  text-align: center;
  margin-top: 50px;
}

.head h1 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.head .download-info {
  font-size: 14px;
  color: #ccc;
  margin: 0 auto;
  line-height: 22px;
}

.head .download-info a {
  font-weight: 700;
}

.head a {
  color: #428bca;
}

.head a:hover {
  color: #428bcab7;
}

.head .links {
  margin-top: 10px;
}

/* WELCOME HEAD MESSAGE ENDS ==========================*/


/* -------------------------------------------------------------------------------------------------- */


/* MOVIE LISTING STARTS ==============================*/
.top-control-btn {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.top-control-btn .prev-btn,
.top-control-btn .next-btn {
  width: 80px;
  height: 40px;
  margin: 0 5px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  border: 1px solid #777;
}

.top-control-btn .disabled {
  color: grey;
}

.container {
  margin: 0 10%;
  width: 80%;
}

.movie-listing .movie-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-listing figure {
  padding-bottom: 0;
  margin: 10px 20px;
}

.movie-listing img {
  width: 220px;
  height: 315px;
  border: 5px #fff solid;
  border-radius: 5px;
}

.movie-listing img:hover {
  border: 5px #6ac045 solid;
  opacity: 0.7;
}

.movie-listing figcaption a {
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.movie-listing figcaption a:hover {
  color: grey;
}

.movie-listing figcaption .movie-year {
  font-size: small;
  color: grey;
  line-height: 0.5;
}

/* MOVIE LISTING ENDS =================================*/


/* -------------------------------------------------------------------------------------------------- */


/* MOVIE DETAILS STARTS ===============================*/
.details-section .movie-info,
.trailer-section .trailer-row,
.summary-section .movie-summary,
.comments-section .movie-reviews {
  display: flex;
  justify-content: space-between;
}

.details-section .movie-info {
  margin-top: 20px;
  margin-bottom: 40px;
}


.details-section .movie-info img {
  width: 260px;
  height: 400px;
  border: 5px #fff solid;
  border-radius: 5px;
  object-fit: cover;
}

.details-section .movie-info .movie-details {
  width: 40%;
}

.details-section .movie-info .movie-details h1 {
  margin-bottom: 25px;
  font-size: 35px;
}

.details-section .movie-info .movie-details .year,
.details-section .movie-info .movie-details .genre {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
}

.details-section .movie-info .movie-details h1,
.details-section .movie-info .similar-movies h1 {
  margin-top: 0;
}

.details-section .movie-info figure {
  margin-left: 0;
}

.details-section .movie-info img:hover {
  border: 5px #6ac045 solid;
}

.details-section .movie-info .similar-movies h1 {
  margin-bottom: 10px;
  font-size: 18px;
}

.details-section .similar-movies-box {
  width: 230px;
  height: 300px;
}

.details-section .similar-movies-box div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details-section .similar-movies-box img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}


.trailer-section .trailer-row iframe,
.trailer-section .trailer-row img {
  width: 100%;
  height: 100%;
}

.summary-section .movie-summary .plot-summary {
  width: 60%;
}

.summary-section .movie-summary p {
  opacity: 0.5;
}

.summary-section .movie-summary .movie-artists {
  width: 30%;
}

.summary-section .movie-summary .movie-artists .director .content,
.summary-section .movie-summary .movie-artists .top-cast .content {
  display: flex;
}

.summary-section .movie-summary .movie-artists img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
}

.comments-section .users-comments {
  width: 45%;
}

.comments-section .imdb-reviews {
  width: 50%;
}

.comments-section .users-comments .scrollable-comments {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: #171717;
}

.comments-section .users-comments .scrollable-comments .comment-content {
  display: flex;
}

.comments-section .users-comments .scrollable-comments .comment-content .user-name {
  margin-top: 0;
  opacity: 0.5;
}

.comments-section .users-comments .scrollable-comments .comment-content img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 10px;
}

.comments-section .imdb-reviews .reviewd-by {
  display: flex;
}

.comments-section .imdb-reviews .reviewd-by .pre-span {
  opacity: 0.3;
}

.comments-section .imdb-reviews .reviewd-by p {
  margin: 0 10px;
}

.comments-section .imdb-reviews p {
  opacity: 0.5;
}

.comments-section .imdb-reviews .read-more {
  opacity: 0.5;
  ;
}

.comments-section .imdb-reviews hr {
  margin: 30px 0;
  opacity: 0.5;
}


/* MOVIE DETAILS ENDS ================================= */

/* HOMEPAGE BODY STYLING ENDS ========================= */



/* Search field ==================================================== */
.big-search {
  background-color: #171717;
  height: 200px;
  margin-top: 5px;
  padding-top: 50px;
}

.big-search form {
  width: 70%;
  margin: 0 auto;
  align-items: center;
}

.big-search input {
  width: 85%;
  height: 50px;
  margin: 0 auto;
  color: white;
  background-color: #282828;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 18px;
}

.big-search input::placeholder {
  font-size: 18px;
}

.big-search button {
  cursor: pointer;
  width: 13%;
  height: 50px;
  float: right;
  font-size: 100%;
  color: white;
  font-weight: 600;
  background-color: green;
  border: none;
  border-radius: 5px;
}

.big-search button:hover {
  background: rgb(0, 150, 0);
  border: 1px solid grey;
  box-shadow: 1px 1px 3px green;
}
/* --------------------------------------------------------------------------------------- */



/* COMMENT STARTS =========================== */
.users-comments .scrollable-comments .load-comment {
  margin: 0 auto;
  height: 40px;
  width: 100%;
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.users-comments .comment-div {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: #171717;
  margin-top: 5px;
}

.users-comments .comment-input {
  height: 40px;
  width: 370px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #333;
  color: white;
  margin-right: 15px;
}

.users-comments .comment-input::placeholder {
  color: grey;
  padding-left: 10px;
}

.users-comments .comment-btn {
  width: 60px;
  background-color: transparent;
  border: none;
  color: grey;
  font-weight: bold;
  font-size: 15px;
}

/* ------------------------------------------------------------------------------------------------ */


/* FOOTER STARTS =========================== */
.footer {
  background-color: #171717;
  height: 100px;
  opacity: 0.5;
  padding-top: 30px;
  margin-top: 50px;
}

.footer .container p {
  text-align: center;
}

/* FOOTER ENDS =========================== */




/* MEDIA QUERIES BEGINS */
@media (max-width: 767px) {
  header .nav-container .right-nav {
    display: none;
  }

  .hamburger {
    width: 30px;
    height: 31px;
    margin: 15px 0;
    position: relative;
    cursor: pointer;
  }

  .hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
  }

  .hamburger .bar:nth-child(1) {
    top: 25%;
  }

  .hamburger .bar:nth-child(3) {
    top: 75%;
  }

  /* Hamburger to X animation */
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
  }

  .details-section .movie-info,
  .trailer-section .trailer-row,
  .summary-section .movie-summary,
  .comments-section .movie-reviews {
    flex-wrap: wrap;
  }

  .trailer-section .trailer-row .movie-trailer,
  .trailer-section .trailer-row .movie-image {
    width: 100%;
  }

  .trailer-section .trailer-row video,
  .trailer-section .trailer-row img {
    width: 100%;
    height: 100%;
    padding: 10px 0;
  }

  .summary-section .movie-summary .plot-summary {
    width: 100%;
  }

  .summary-section .movie-summary .movie-artists {
    width: 100%;
  }

  .comments-section .users-comments {
    width: 100%;
  }

  .comments-section .imdb-reviews {
    width: 100%;
  }
}

/* MINI */
@media (min-width: 768px) and (max-width: 900px) {

  .details-section .movie-info,
  .trailer-section .trailer-row,
  .summary-section .movie-summary,
  .comments-section .movie-reviews {
    flex-wrap: wrap;
  }

  .trailer-section .trailer-row,
  .trailer-section .trailer-row {
    justify-content: center;
    margin: 50px 0;
  }

  .trailer-section .trailer-row .movie-trailer,
  .trailer-section .trailer-row .movie-image {
    width: 80%;
  }

  .trailer-section .trailer-row video,
  .trailer-section .trailer-row img {
    width: 100%;
    height: 100%;
    padding: 10px 0;
  }
}

/* MEDIUM */
@media (min-width: 1200px) {
  /* .movie-listing .movie-row {
  } */
}

/* MEDIA QUERIES ENDS */