<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YTS CLONE</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <header class="navbar">
    <nav class="nav-container">
      <div class="logo">
        <a class="nav-link" href="index"><img src="images/logo-YTS.svg" alt="Logo"></a>
      </div>

      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="right-nav">
        <form class="nav-form" role="search">
          <input class="nav-search" type="search" placeholder="Search">
        </form>
      </div>
    </nav>
  </header>

  <div class="container">
    <section class="details-section">
      <div class="movie-info">
        <div class="movie-image">
          <figure>
            <img class="" src="images/quietplace.jpg" alt="A Quiet Place: Day One (2024) download">
            <figcaption>
              <button>Watch Now</button>
            </figcaption>
          </figure>
        </div>

        <div class="movie-details">
          <h1>A Quiet Place</h1>
          <p>2015</p>
          <P>
            Genres: Horror, Thrilling, Action
          </P>
          <p>Likes: 20</p>
          <h2>Official Ratings</h2>
          <p>Rotten tamatoes</p>
          <p>IMDB</p>
        </div>

        <div class="similar-movies">
          <h1>Similar movies</h1>
          <div class="similar-movies-box">
            <div>
              <a href="" alt="similar 1">
                <img class="" src="images/quietplace.jpg" alt="A Quiet Place: Day One (2024) download">
              </a>
              <a href="" alt="similar 2">
                <img class="" src="images/thelastbreath.jpg" alt="A Quiet Place: Day One (2024) download">
              </a>
              <a href="" alt="similar 3">
                <img class="" src="images/daddio.jpg" alt="A Quiet Place: Day One (2024) download">
              </a>
              <a href="" alt="similar 4">
                <img class="" src="images/deadsea.jpg" alt="A Quiet Place: Day One (2024) download">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="trailer-section">
      <div class="trailer-row">
        <div class="movie-trailer">
          <video controls>
            <source src="video.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="movie-image">
          <img src="images/medium-screenshot2.jpg" alt="Image Description">
        </div>
        <div class="movie-image">
          <img src="images/medium-screenshot3.jpg" alt="Image Description">
        </div>
      </div>
    </section>

    <section class="summary-section">
      <div class="movie-summary">
        <div class="plot-summary">
          <h2>
            Plot Summary
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis eius alias iusto nisi omnis hic fugit? Id aut iusto incidunt dolor doloremque dolore autem ratione corporis. Quam ipsum commodi incidunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore sunt commodi nobis voluptate repellendus laudantium maiores atque magnam alias numquam. Quia soluta provident eligendi suscipit et fuga pariatur incidunt iure.
          </p>
        </div>
        <div class="movie-artists">
          <div class="director">
            <strong>
              <h2>Director</h2>
            </strong>
            <div class="content">
              <img src="images/nm0000190.jpg" alt="Image Description">
              <p>Name Name</p>
            </div>
          </div>
          <div class="top-cast">
            </strong>
            <h2>Top cast</h2></strong>
            <div class="content">
              <img src="images/nm0005351.jpg" alt="Image Description">
              <p>Name Name</p>
            </div>

            <div class="content">
              <img src="images/nm10128408.jpg" alt="Image Description">
              <p>Name Name</p>
            </div>

            <div class="content">
              <img src="images/nm0506613.jpg" alt="Image Description">
              <p>Name Name</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="comments-section">
      <div class="movie-reviews">
        <div class="users-comments">
          <h2>
            50 Comments
          </h2>
          <div class="scrollable-comments">
            <div class="comment-content">
              <img src="images/nm0000190.jpg" alt="Image Description">
              <div>
                <p class="user-name">Name Name</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium voluptas. Quod vero eius rerum minima eveniet quae numquam exercitationem sed natus, doloribus est reprehenderit, alias quaerat corrupti nulla itaque.
                </p>
              </div>
            </div>
            <div class="comment-content">
              <img src="images/nm0506613.jpg" alt="Image Description">
              <div>
                <p class="user-name">Name Name</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium voluptas. Quod vero eius rerum minima eveniet quae numquam exercitationem sed natus, doloribus est reprehenderit, alias quaerat corrupti nulla itaque. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
            <div class="comment-content">
              <img src="images/nm10128408.jpg" alt="Image Description">
              <div>
                <p class="user-name">Name Name</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium voluptas. Quod vero eius rerum minima eveniet quae numquam exercitationem sed natus, doloribus est reprehenderit, alias quaerat corrupti nulla itaque.
                </p>
              </div>
            </div>
            <div class="comment-content">
              <img src="images/nm0506613.jpg" alt="Image Description">
              <div>
                <p class="user-name">Name Name</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium voluptas. Quod vero eius rerum minima eveniet quae numquam exercitationem sed natus, doloribus est reprehenderit, alias quaerat corrupti nulla itaque.
                </p>
              </div>
            </div>
            <div class="comment-content">
              <img src="images/nm0005351.jpg" alt="Image Description">
              <div>
                <p class="user-name">Name Name</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusantium voluptas. Quod vero eius rerum minima eveniet quae numquam exercitationem sed natus, doloribus est reprehenderit, alias quaerat corrupti nulla itaque. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="imdb-reviews">
          <h2>
            Movie Reviews
          </h2>
          <div class="review-details">
            <div class="reviewd-by">
              <span class="pre-span">Reviewed by</span>
              <p>Peter Straughs</p>
              <span class="post-span">9/10</span>
            </div>
            <p>
              Id aut iusto incidunt dolor doloremque dolore autem ratione corporis. Quam ipsum commodi incidunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <span class="read-more">Read more</span>
          </div>

          <hr>

          <div>
            <div class="reviewd-by">
              <span class="pre-span">Reviewed by</span>
              <p>John Shepard</p>
              <span class="post-span">9/10</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus beatae praesentium odio aliquam suscipit excepturi officiis reiciendis. Quibusdam possimus dolores odio perferendis pariatur? Quos quam et eius culpa numquam reprehenderit!
            </p>
            <span class="read-more">Read more</span>
          </div>

          <hr>

          <div>
            <div class="reviewd-by">
              <span class="pre-span">Reviewed by</span>
              <p>John Shepard</p>
              <span class="post-span">9/10</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo deserunt aut maxime deleniti reiciendis, id ratione velit, illo temporibus expedita doloribus vitae voluptates possimus fugiat dolore magnam quidem ducimus? Asperiores.
            </p>
            <span class="read-more">Read more</span>
          </div>

          <hr>

        </div>
      </div>
    </section>
  </div>


  <footer class="footer">
    <div class="container">
      <p class="copyright">&copy; 2021 Company, Inc</p>
    </div>
  </footer>

</body>

</html>