<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YTS CLONE</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <header class="navbar">
    <nav class="nav-container">
      <div class="logo">
        <a class="nav-link" href="index"><img src="images/logo-YTS.svg" alt="Logo"></a>
      </div>

      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="right-nav">
        <form class="nav-form" role="search">
          <input class="nav-search" type="search" placeholder="Search">
        </form>
      </div>
    </nav>
  </header>


  <div class="head welcome-info">
    <h1>Download YTS YIFY movies: HD smallest size</h1>
    <p class="download-info">
      Welcome to the official YTS.MX website. Here you can browse and download YIFY movies in excellent
      <br> 720p, 1080p, 2160p 4K and 3D quality, all at the smallest file size. YTS Movies Torrents. <br>
      <a href="#">
        IMPORTANT - YTS.MX is the only new official domain for YIFY Movies
      </a>
    </p>
    <div class="links">
      <a href="#"> YTSMX_UPDATES | </a>
      <a href="#">Follow @YTSYIFY for upcoming featured movies! </a>
    </div>
  </div>

  <hr style="margin: 25px 50px; opacity: 0.4;">

  <footer class="footer">
    <div class="container">
      <p class="copyright">&copy; 2021 Company, Inc</p>
    </div>
  </footer>

  <script type="module" src="js/index.js"></script>
</body>

</html>

