<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YTS CLONE</title>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <header class="navbar">
    <nav class="nav-container">
      <div class="logo">
        <a class="nav-link" href="index"><img src="images/logo-YTS.svg" alt="Logo"></a>
      </div>

      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="left-nav">
        <form class="nav-form" role="search">
          <input class="nav-search" type="search" placeholder="Search">
        </form>
      </div>
    </nav>
  </header>

  <div style="text-align: center; padding-top: 20px;">
    <form class="example" action="action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <div class="movie-listing container">
    <div class="movie-row">
      <div class="columns">
        <figure>
          <img class="" src="images/quietplace.jpg" alt="A Quiet Place: Day One (2024) download">
          <figcaption>
            <a href="details">Cloth on cloth</a>
            <p class="movie-year">2013</p>
          </figcaption>
        </figure>
      </div>
      <div class="columns">
        <figure>
          <img class="" src="images/daddio.jpg" alt="Daddio">
          <figcaption>
            <a href="details">A Quiet Place: Day One</a><br>
            <span>2024</span>
          </figcaption>
        </figure>
      </div>
      <div class="columns">
        <figure>
          <img class="" src="images/thelastbreath.jpg" alt="The Last Breath">
          <figcaption>
            <a href="details">A Quiet Place: Day One</a><br>
            <span>2024</span>
          </figcaption>
        </figure>
      </div>
      <div class="columns">
        <figure>
          <img class="" src="images/deadsea.jpg" alt="A Dead Sea">
          <figcaption>
            <a href="details">A Quiet Place: Day One</a><br>
            <span>2024</span>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="copyright">&copy; 2021 Company, Inc</p>
    </div>
  </footer>

</body>

</html>